body,
html {
  margin: 0;
  padding: 0;
  width: 1024px;
  min-width: 800px;
  background-color: #f5f5f5;
  margin: 0 auto;
  border: 0.5px dashed gray;
}
/*头部*/
.header {
  width: 100%;
  text-align: center;
  height: 85px;
  vertical-align: auto;
  background-color: rgb(189, 238, 125);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header-box {
  padding-top: 20px;
}
.header .header-box img {
  width: 30px;
  vertical-align: text-bottom;
}
.header .header-box .header-title {
  color: white;
  font-size: 28px;
  font-weight: bold;
}
/*左侧列表*/
.alan-list {
  float: left;
  width: 220px;
  padding: 0;
  background-color: #b5f0b3;
}
.alan-list ul {
  padding-left: 0px;
  line-height: 35px;
  list-style: none;
}
.anal-list ul li {
  border-bottom: 1px solid gray;
  padding-left: 10px;
}

.anal-list ul li:hover {
  background-color: gray;
}

.anal-list ul li a:hover {
  background-color: gray;
  font-size: 18px;
}

.anal-list ul li a {
  font-weight: bolder;
  font-size: 15px;
  width: 100%;
}
.no-line {
  text-decoration: none;
  color: black;
}
/*右侧内容*/
.coffee-content {
  margin-left: 220px;
  background-color: #fff;
  padding-bottom: 10px;
}
.coffee-content .banner {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}
.coffee-content .banner img {
  width: 700px;
  margin-bottom: 10px;
}
.coffee-content p {
  font-size: 22px;
  padding: 5px 10px;
  font-weight: bolder;
}
.coffee-content span {
  padding-left: 2em;
}
.coffee-content span b {
  font-size: 150%;
  font-weight: bold;
  color: rgb(0, 153, 255);
}
.coffee-content img {
  width: 20%;
  padding: 5px 10px;
  display: block;
}

/*底部*/
.buttom {
  background-color: gray;
  width: 100%;
  height: 55px;
  text-align: center;
}
.buttom p {
  color: white;
  font-weight: bold;
  padding: 15px;
  margin: 0;
}



