html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  min-width: 360px;
}
audio{
  position: fixed;
  z-index: 0;
  top: 100px;
  left: 100px;
}
.title {
  height: 30px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.title .close {
  float: right;
  margin-right: 10px;
}
.title .close .close-item1,.close-item2,.close-item3{
  margin-right: 10px;
}
.title .close .close-item1:hover {
  color: blue;
}
.title .close .close-item2:hover  {
  color: green;
}
.title .close .close-item3:hover  {
  color: red;
}

.content {
  height: 600px;
  background-color: black;
  color: white;
  position: relative;
  padding-bottom: 23px;
  overflow: hidden;
  background-image: url("./jackerlove.JPG");
  background-size: 100% 100%;
}
.content .danmu {
  position: absolute;
  z-index: 80;
  white-space: nowrap;
}
.content .danmu .contentArea {
  position: relative;
  overflow: hidden;
  font-size: 18px;
}

.content .danmu .contentArea .text {
  color: white;
}

.backdrop {
  background: rgba(42, 42, 42, 0.79);
  z-index: 60;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
}
img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.control {
  text-align: center;
  margin-top: 20px;
}

.control button {
  margin-top: 5px;
  background-color: #4caf50;
  color: white;
  padding:0 8px;
  font-size: 16px;
  border: none;
  height: 29px;
  cursor: pointer;
  width: 200px;
}

.inputtext{
    border-radius: 3px;
    height: 25px;
    font-size: 15px;
    border: 1px solid #cccccc;
    outline: none;
    color: #808080;
    padding-left: 5px;
    width: 350px;
    margin-bottom: 8px;
}


@media screen and (max-width: 666px) {
  .control button {
    margin-bottom: 10px;
    width: 350px;
  }
}